* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* 스크롤 바 제거 */
}


html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #8a8a8a, #2b2b2b);
}

main {
    width: 100%;
    height: 100%;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


canvas {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
