* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #0e0608;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}